.movie-section__container {
  position: relative;
  background: rgb(30,93,168);
  background: linear-gradient(320deg, rgba(30,93,168,1) 40%, rgba(15,16,213,1) 70%, rgba(21,1,135,1) 100%);

  .movie-section__page {
    backdrop-filter: blur(8px);
    color: white;
    min-height: 90vh;
    padding: 4rem 2.5rem;
    
    .movie-section__content {
      display: flex;
      justify-content: space-around;
      width: 100%;
      padding: 1rem 2.5rem;
      
      .content__image {
        position: relative;
        width: 25%;
        transition: all .2s ease-in-out;
        
        img {
          width: 100%;
          border-radius: .75rem;
          border: 1px solid yellow;
        }

        &:hover {
          cursor: pointer;
          transform: scale(1.05);
        }

        .content__show-trailer {
          position: absolute;
          z-index: 100;
          left: 35%;
          top: 35%;

          &--btn {
            background: none;
            width: 5rem;
            height: 5rem;
            border: solid .4rem white;
            border-radius: 100%;
            position: relative;
            transition: transform .5s ease-out;
      
            span {
              width: 0;
              height: 0;
              border-top: 1.25rem solid transparent;
              border-left: 2.2rem solid rgb(230, 230, 230);
              border-bottom: 1.25rem solid transparent;
              position:absolute;
              top:20%;
              left:32%;
              backface-visibility: hidden;
            }

            &:hover {
              transform: scale(1.2);
               span {
                border-left-color: #03A9F4;
               }
            }
          }
          
        }


        .content__image-spinner {
          height: 45vh;
        }
      }


      .content__details {
        display: flex;
        flex-direction: column;
        width: 70%;
        height: 100%;
        text-shadow: 2px 1px 3px rgb(0, 0, 0);

        .details__head {
          display: flex;
          position: relative;
          background:
            linear-gradient(
              to left, 
              rgba(255, 255, 255, 0) 0%,
              rgb(255, 255, 255) 35%,
              rgba(255, 255, 255, 0) 100%
            )
            left 
            bottom   
            no-repeat; 
          background-size:100% .3rem;

          .details__title {
            justify-self: start;
            padding: 1rem;
            width: 100%;
          }

          .details__interaction-icons {
            display: flex;
            align-items: center;
            justify-content: center;

            svg {
              transition: .25s ease;
              padding-left: .5rem;
            }
  
            svg:hover{
              transform: scale(1.2);
            }
          

            .logged {
              cursor: pointer;
            }
  
            .not-logged {
              cursor: not-allowed;
            }
          }


        }
        



        .details__short-info {
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;
          font-size: 1.25rem;
          padding: .5rem .5rem;
          width: 100%;

          & > * {
            width: 33%;
          }

          &--runtime {
            text-align: center;
          }


          &--rating {
            text-align: right;

            &::before {
              content: "\2605";
              padding: 0 .15rem 0 0;
              color: yellow;
            }
          }

          &--votes {
            width: 98%;
            text-align: right;
            font-size: .9rem;
          }
        }

        .details__genres {
          
          &--name {
            display: inline-block;
            padding: .75rem 1rem .75rem 1rem;
            margin: .5rem;
            background-color: #1C3144;
            border-radius: 2rem;
            border: 1px solid grey;
            transition: .5s ease-out;
            backface-visibility: hidden;

            &:hover {
              transform: scale(1.2);
            }
          }
        }

        .details__summary {

          &--overview {
            margin-top: 0.75rem;
            padding: 1rem 1.5rem;
            line-height: 2rem;
            font-size: 1.1rem;
            background-color: rgba(0,0,0,.3);
            border-radius: 2rem;
          }
        }

        .details__cast {
          position: relative;
          z-index: 100;
          margin: 2rem 0rem 1rem 0rem;
        }

      }
    }

  }
  
  .loading {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .movie-section__back-btn {
    position: relative;
    top: .5rem;
    padding-left: 1.5rem;
    z-index: 30;
  }

  .overlay {
    z-index:1000;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.8);

    &__content {
      margin-top: 2rem;
      display: flex;
      position: fixed;
      min-height: 80vh;
      width: 100%;
      align-items: center;
      justify-content: center;


      .overlay__close-trailer {
        position: relative;
        margin: 0 auto;
        min-width: 320px;
  
        .overlay__close-trailer--btn  {
          position: absolute;
          height: 3.5rem;
          width: 3.5rem;
          border: .1rem solid black;
          background-color: white;
          right: -3%;
          top: -3%;
          border-radius: 50%;
  
          &:hover {
                  background-color: #E4E4E4;
                  cursor: pointer;
          }
  
          &:before, &:after {
                  content: '';
                  position: absolute;
                  left: 48%;
                  bottom: 23%;
                  height: 1.75rem;
                  width: .15rem;
                  background-color: black;
          }
          
          &:before {
                  transform: rotate(45deg);
          }
  
          &:after {
                  transform: rotate(-45deg);
          }
        }
      }
    }
  }

}

@media only screen and (max-width: 1050px) {
  .movie-section__container {
    .movie-section__page {
      .movie-section__content {
        .content__image {
          width: 30%;
          
        }

        .content__details {
          width: 65%;

          .details__cast {
            .carousel {
              padding: 0 1rem;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 930px) {
  .movie-section__container {
    .movie-section__page {
      
      .movie-section__content {
        flex-direction: column;
        align-items: center;
        padding: 0;
        
        .content__image {
          width: 35%;
        }
      }
    }
  }

  iframe {
    width: 650px;
    height: 450px;
  }
}

@media only screen and (max-width: 750px) {
  .movie-section__container {
    .movie-section__page {
      padding: 4rem 2rem;
      .movie-section__content {

        .content__image {
          width: 40%;
        }

        .content__details {
          .details__title {
            font-size: 1.4rem;
            padding: 1rem;
            text-align: center;
          }

          .details__cast {
            .carousel {
              padding: 0 4rem;
            }
          }
        }
        
      }
    }
  }


  iframe {
    width: 500px;
    height: 400px;
  }
}

@media only screen and (max-width: 650px) {
  .movie-section__container {
    .movie-section__page {
      .movie-section__content {
        .content__details {

  
          .details__head {
            flex-direction: column;
  
            .details__title {
              padding-bottom: 0.5rem;
            }
  
            .details__interaction-icons {
              padding-bottom: 0.5rem;
            } 
          }
        }
      }
    }
  }

  iframe {
    width: 400px;
    height: 400px;
  }
}

@media only screen and (max-width: 550px) {
  .movie-section__container {
    .movie-section__page {
      .movie-section__content {
        .content__image {
          width: 60%;
        }

        .content__details {
          width: 80%;

          .details__title {
            font-size: 1.5rem;
            padding: .5rem;
          }

          .details__short-info {
            font-size: .9rem;
          }

          .details__genres {
            .details__genres--name {
              padding: .5rem .75rem;
              font-size: .8rem;
              margin: .4rem;
            }
          }

          .details__cast {
            .carousel {
              padding: 0 2rem;
            }
          }
        }
        
      }
    }
  }

  iframe {
    width: 320px;
    height: 320px;
  }
}

@media only screen and (max-width: 400px) {
  .movie-section__container {
    .movie-section__page {
      .movie-section__content {

        .content__image {
          div {
            .content__show-trailer {

              &--btn {
                width: 3.5rem;
                height: 3.5rem;
                border: solid .25rem white;

                span {
                  border-top: .9rem solid transparent;
                  border-left: 1.7rem solid #dddddd;
                  border-bottom: .9rem solid transparent;
                }
              }
            }
          }
        }

        .content__details {
          width: 90%;

          .details__summary {
            width: 100%;

            &--overview {
              font-size: .9rem;
            }
          }

          .details__cast {
            .carousel {
              padding: 0 3rem;
            }
          }

        }
        
      }
    }

    .overlay {
    
      &__content {
  
        .overlay__close-trailer {
          .overlay__close-trailer--btn  {
            right: 5%;
            top: -10%;
          }
        }
      }
    }
  }


  iframe {
    width: 320px;
    height: 320px;
  }
}


@media only screen and (max-width: 300px) {

  .movie-section__container {
    .overlay {
  
      &__content {
  
        .overlay__close-trailer {
          .overlay__close-trailer--btn  {
            right: 15%;
            top: -10%;
          }
        }
      }
    }
  
  }
}
