
.filter-page__container {
    background-image: url('https://images2.alphacoders.com/789/thumb-1920-789853.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    min-height: 90vh;

    .container__overview {
        display: flex;
        width: 100%;
        min-height: 80vh;

        .container__movie-filter {
            background-color: rgb(70, 70, 70);
            padding: 1rem 1rem;
            width: 30vw;
        }

        .filter-page {
            backdrop-filter: blur(5px);
            padding: 3rem 0rem;
            width: 100%;
        }
        
    }

}
