
.filter-page__container {
    background-image: url('https://images.hdqwalls.com/download/minimalist-landscape-to-1920x1080.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(54, 54, 54);

    min-height: 80vh;

    .container__overview {
        display: flex;
        min-height: 80vh;
        
        .filter__open-btn {
            position: absolute;
            left: 2.5%;
            top: 12.5%;
            z-index: 20;
        }


        .container__movie-filter {
            position: relative;
            background-color: rgb(70, 70, 70);
            padding: 1rem 1rem;
            max-width: 28vw;
            box-shadow: 3px 0px 7px 0px black;


            .filter__close-btn {
                position: absolute;
                left: 105%;
                top: .75rem;
                z-index: 20;
            }

        }

        .filter-page {
            backdrop-filter: blur(5px);
            padding: 4rem 1rem;
            width: 100%;
            // display: flex;
            // align-items: center;
            // justify-content: center;
            
            svg {
                
                display: block;
                margin: 0 auto;
            }
        }
        
    }

}

@media only screen and (max-width: 850px) {
    
    .filter-page__container {
        .container__overview {

            .container__movie-filter {
                padding: 3.5rem 1rem;
                max-width: 100%;

                .filter__close-btn {
                    left: unset;
                    right: 13%;
                }

            }
            
        }

    }
}