

  .search-result__container {
    display: flex;
    // width: 100%;
  
    .search-result__overview {
        position: relative;
        // width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
  
  }