.search-page__container {
    background-image: url('https://cdn.hipwallpaper.com/i/33/96/rJKV1g.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 80vh;

    .search-page {
        padding: 4rem 1rem;
        backdrop-filter: blur(4px);
        min-height: 80vh;
    }
}