.search-page__container {
    background-image: url('https://i.pinimg.com/originals/a1/9b/36/a19b36b3dedd8674821b1df3235555d2.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 80vh;
    background-color: rgb(54, 54, 54);

    .search-page {
        padding: 4rem 1rem;
        backdrop-filter: blur(4px);
        min-height: 80vh;
    }
}