
.movie-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20rem;
    height: 28rem;
    padding: 1rem;
    margin: 1.5rem 1rem;
    background-color: skyblue;
    transition: transform .5s;

    img {
        height: 60%;
        width: 60%;
        margin: .5rem;
    }

    p {
        margin: .5rem;
        overflow-y: scroll;
    }


    &:hover {
        cursor: pointer;
        transform: scale(1.1);
    }
}