
.movie-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 15rem;
    height: 30rem;
    margin: 1rem;
    padding: 2rem;
    background-color: skyblue;
    transition: transform .5s;

    img {
        height: 40%;
        width: 80%;
        margin: .5rem;
    }

    p {
        margin: .5rem;
        overflow-y: scroll;
    }


    &:hover {
        cursor: pointer;
        transform: scale(1.1);
    }
}