.page__container {
    scroll-behavior: smooth;
    background-color: rgb(54, 54, 54);

    .homepage__banner {
        display: flex;
        flex-direction: column;
        position: relative;
        z-index: 50;
        padding-top: 5%;
        margin-left: 10%;
        width: 50%;

        animation: moveInLeft .75s ease-out;

        &--title {
            font-size: 5rem;
            line-height: 8rem;
            color:#2196f3;
            text-shadow: 2px 1px 3px rgb(0, 0, 0);
        }

        &--sub-title {
            font-size: 1.6rem;
            line-height: 2.5rem;
            width: 65%;
            font-weight: bold;
            color:white;
            text-shadow: 2px 1px 3px rgb(0, 0, 0);
        }

        &--button {
            display: flex;
            width: 50%;
            padding-top: 1rem;
            justify-content: center;
            

            a {
                font-size: 1.25rem;
                text-decoration: none;
                color: white;
                background-color: rgb(44, 21, 255);
                width: 10rem;
                height: 2.75rem;
                text-align: center;
                line-height: 2.6rem;
                border-radius: 1.75rem;
                transition: transform .5s;
                outline: 1px solid transparent;
                box-shadow: 0px 4px 7px 0px rgb(0, 0, 0);

                animation: fadeIn 1s ease-out 1s backwards;
    
                &:hover {
                    transform: scale(1.1);
                    background-color: rgb(25, 4, 216);
                }
            }

        }
    }

    .homepage__container {
        background-image: url('https://w.wallhaven.cc/full/gj/wallhaven-gjlym7.png');
    
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    
        .homepage {
            backdrop-filter: blur(4px);
            min-height: 90vh;
            padding: 2rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }
}



@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }

    60% {
        transform: translateX(2rem);
    }

    100% {
        oppacity: 1;
        transform: translate(0);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(10rem);
    }

    50% {
        transform: translateY(-1rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@media only screen and (max-width: 700px) {
    .page__container {

        .homepage__banner {
            padding-top: 6.5rem;
            
            &--title {
                font-size: 4rem;
                line-height: 5rem;
            }
    
            &--sub-title {
                width: 100%;
                line-height: 2rem;
            }
        }
    }
}

@media only screen and (max-width: 550px) {
    .page__container {

        .homepage__banner {
            
            &--title {
                font-size: 3rem;
                line-height: 5rem;
            }
    
            &--sub-title {
                font-size: 1rem;
                line-height: 1.5rem;
            }

            &--button {
                a {
                    font-size: 1rem;
                    width: 7rem;
                    height: 2rem;
                    line-height: 2rem;
                }
            }
        }
    }
}