

.cast__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .cast {

        padding: .5rem;
        &__actor-img {
            background-repeat: no-repeat;
            background-position: 50% 20%;
            background-size: cover;
            height: 5.5rem;
            width: 5.5rem;
            border-radius: 100%;
            border: 1px solid grey;
            transition: .5s ease-out;

            &:hover {
                transform: scale(1.2);
            }
        }
    }


    .cast__container--spinner {
        height: 4rem;
        width: 4rem;
    }
}