.search-bar__container {
    width: 80%;
    background-color: white;
    border-radius: 0.75rem;

    .search-bar {
        display: flex;
        align-items: center;
        justify-content: center;

        input {
            outline: none;
            width: 90%;
            height: 1.75rem;
            outline: none;
            border: none;
            border-radius: 0.75rem;
            padding: .75rem;

            &::placeholder {
                font-style: italic;
            }
        }
    
        svg {
            height: 1.4rem;
        
            &:hover {
                cursor: pointer;
            }   
        }
    }

}