
.forward-button__container {
    cursor: pointer;
    width:50px;
    height:50px;
    position: absolute;
    // transform: translate(-50%, -50%);
    border-radius:50%;
    border:#03A9F4 2px solid;
    overflow:hidden;
    transition:background 0.3s ease;

    &.back{
        .arrow-wrap{
            left:-50%;
        }
    }

    &:hover{
        background:#03A9F4;
        .arrow{
            span{
                background:#fff;
            }
        }
    }
    .arrow{
        display:block;
        position:absolute;
        height:70%;
        width:70%;
        top: 50%;
        left: 50%;
        transform: translate(-45%, -50%);
        transition:left 0.3s ease;

        span{
            height:4px;
            left:0;
            top:45%;
            background:#03A9F4;
            position:absolute;
            display:block;
            transition:background 0.3s ease;
        }
        &-part-1{
            width:90%;
            transform: translate(0, 10%);
            border-radius: 10px;
        }
        &-part-2{
            width:65%;
            transform: rotate(35deg) translate(22%, -232%);
            // transform-origin: 0 0;
            border-radius: 10px;
        }
        &-part-3{
            width:65%;
            transform: rotate(-35deg) translate(23%, 247%);
            // transform-origin: 0 0;
            border-radius: 10px;
        }
    }
}
