.carousel {
  padding: 30px 60px 30px 60px;
  min-height: 50vh;

  &__title {
    color: white;
  }

  &-container {
  }
}



.slick-slide>div {
  margin: .5rem;
  display: flex;
  justify-content: center;
  // transform: scale(.75);
  // transition: transform .3s cubic-bezier(.4, 0, .2, 1);
}

.slick-center>div {
  // position: relative;
  // transform: scale(1);
}


.slick-arrow {
  z-index: 1000;
}

.slick-next {
  width: unset;
}

.slick-prev::before,
.slick-next::before {
  line-height: 0;
  font-size: 3rem;
}

.slick-dots li button:before {
  font-size: .6rem;
  color: white;
  opacity: 0.2;
}

.slick-dots li.slick-active button:before {
  opacity: .9;
  color: white;
}