.carousel {
  padding: 0px 60px 0px 60px;
  // min-height: 50vh;

  &__title {
    color: white;
    font-size: 2rem;
    padding: 2rem 0 1rem 0;
    background:
    linear-gradient(
      to left, 
      rgba(255, 255, 255, 0) 0%,
      rgb(255, 255, 255) 35%,
      rgba(255, 255, 255, 0) 100%
    )
    left 
    bottom   
    no-repeat; 
    background-size:100% .3rem;
  }

  &-container {


    &__similar {
      min-height: 20vh;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}



.slick-slide>div {
  margin: .5rem;
  display: flex;
  justify-content: center;
  // transform: scale(.75);
  // transition: transform .3s cubic-bezier(.4, 0, .2, 1);
}

.slick-center>div {
  // position: relative;
  // transform: scale(1);
}


.slick-arrow {
  z-index: 1000;
}

.slick-next {
  width: unset;
}

.slick-prev::before,
.slick-next::before {
  line-height: 0.5;
  font-size: 3rem;
}

.slick-dots li button:before {
  font-size: .6rem;
  color: white;
  opacity: 0.2;
}

.slick-dots li.slick-active button:before {
  opacity: .9;
  color: white;
}

@media only screen and (max-width: 450px) {
  .carousel {
    padding:0px 0px 0px 0px;

    &__title {
      font-size: 1.6rem;
    }
  }
}