.container {
  padding-right: 30px;
  padding-left: 30px;

  &__title {
    position: absolute;
    top: 7.5%;
    padding-top: 2rem;
  }
}

.slick-slide>div {
  transform: scale(.75);
  transition: transform .3s cubic-bezier(.4, 0, .2, 1);
}

.slick-center>div {
  transform: scale(1);
}

// .slider__item>img {
//   width: 100%;
//   height: auto;
// }