.header {
    height: 10vh;
    background-color: honeydew;

    .navbar {
        height: 100%;
        display: flex;
        justify-content: space-around;

        &__content {
            flex-grow: 1;
            background-color: grey;
            display: flex;
            justify-content: center;
            align-items: center;

            &:nth-child(2) {
                flex-grow: 3;
            }
        }

        &__nav {
            width: 80%;
            display: flex;
            justify-content: space-evenly;
            padding:0;

            li {
                list-style-type: none;
                margin: .5rem;
            }
        }
    }
}